body {
    background-color: rgb(176, 226, 255);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    color:  #2b87a3;
}

.container {
    background-color: rgba(255, 254, 254, 0.6);
    backdrop-filter: blur(10px);
    width: 600px;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(2, 2, 2, 0.25);
}

h1{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 30px;
}

.form-group {
    display: flex;
    margin-bottom: 10px;
}

.form-group> label {
    width: 70px;
    padding-top: 8px;
}

.input-area {
    flex: 1;
}

input[type="text"],
input[type="email"],

select {
    width: 500px;
    padding: 8px;
    border: 1px solid rgb(101, 116, 149);
    border-radius: 5px;
    box-sizing: border-box;
   
    background: rgba(255, 255, 255, 0.25);
    color: #596f7c;
    backdrop-filter: blur(10px);
}

input::placeholder{
    color: #4f6f79;
}

select {
    color: #4f6f79;
}

select option {
    color: rgb(87, 102, 111)f;
    background-color: #a8badf;
}

select.selected {
    color: rgb(87, 102, 111);
}

.error {
    display: block;
    color: #84758d;
    font-size: 13px;
    margin-top: 4px;
}

.checkbox {
    margin-top: 35px;
    margin-bottom: 20px;
    text-align: center;
}

button {
    background-color: rgb(13, 0, 158);
    color: #fff;
    border: none;
    padding: 10px 18px;
    border-radius: 5px;
    cursor: pointer;
}

.button-area {
    text-align: center;
}

button:hover {
    background-color: rgb(33, 38, 113);
}

button:disabled {
    background-color: gray;
    cursor: not-allowed;
}

#hasil {
    margin-top: 15px;
    text-align: center;
    margin-bottom: 15px;
    color: #035606;

    background: rgba(4, 237, 35, 0.2);
    padding: 15px;
    border-radius: 10px;
    margin: 0 auto 10px;
    width: 80%;
    box-sizing: border-box;
}

#hasil:empty {
    display: none;
}